.h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size:83.62px;
    color: #0B4451;
}

.h2{
    font-family: 'Open Sans', sans-serif;
    font-size:69px;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
}
.header{
    /* The image used */
    background-image: url('../images/hero2.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding:8%;
    margin: 6%;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:0;
  }
  .navbar ul {
    margin-left: auto; margin-right: auto !important; 
  }
  .btn{
    background-color: #0B4451;
  }
